{% set title = "Главная страница" %} {% extends "layout.html" %} {% block content %}

<div id="fullpage">
    <div class="section fp-auto-height-responsive" data-anchor="intro">
        <div class="fullpage-section-inner fullpage-section-inner--intro">
            <div class="intro">
                <div class="intro__heading-block">
                    <h1 class="intro__main-heading">Тосэр ясный</h1>
                    <p class="intro__slogan">
                        Территория, где<br />
                        начинается бизнес
                    </p>
                </div>
                <div class="intro__nav-block">
                    <ul class="intro__nav-block-list">
                        <li class="intro__nav-block-list-item">
                            <a href="#" class="intro__nav-block-link" data-image="land">Аренда</a>
                            <svg width="25" height="25" aria-hidden="true" class="icon-intro-link-triangle">
                                <use xlink:href="#intro-link-triangle" />
                            </svg>
                        </li>
                        <li class="intro__nav-block-list-item">
                            <a href="#" class="intro__nav-block-link" data-image="city">Город</a>
                            <svg width="25" height="25" aria-hidden="true" class="icon-intro-link-triangle">
                                <use xlink:href="#intro-link-triangle" />
                            </svg>
                        </li>
                        <li class="intro__nav-block-list-item">
                            <a href="#" class="intro__nav-block-link" data-image="factory">Земля</a>
                            <svg width="25" height="25" aria-hidden="true" class="icon-intro-link-triangle">
                                <use xlink:href="#intro-link-triangle" />
                            </svg>
                        </li>
                        <li class="intro__nav-block-list-item">
                            <a href="#" class="intro__nav-block-link" data-image="construction">Строительство</a>
                            <svg width="25" height="25" aria-hidden="true" class="icon-intro-link-triangle">
                                <use xlink:href="#intro-link-triangle" />
                            </svg>
                        </li>
                    </ul>
                </div>
                <div class="intro__maps-block js-intro-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="intro__maps-block-card">
                                    <div class="intro__maps-block-card-info">
                                        <div class="intro__maps-block-card-info-large-text">
                                            Город
                                        </div>
                                        <div class="intro__maps-block-card-info-small-text">
                                            инфраструктура
                                        </div>
                                    </div>
                                    <a href="#" class="intro__maps-block-card-image-link intro__maps-block-card-image-link--city" data-link="city">
                                        <img src="img/intro/city-gs.png" alt="" class="intro__maps-block-card-image-link-layer" />
                                        <img src="img/intro/city-with-outline.png" alt="" class="intro__maps-block-card-image-link-layer" />
                                        <img src="img/intro/city.png" alt="" class="intro__maps-block-card-image-link-layer" />
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__maps-block-card">
                                    <div class="intro__maps-block-card-info">
                                        <div class="intro__maps-block-card-info-large-text">
                                            Земля
                                        </div>
                                        <div class="intro__maps-block-card-info-small-text">
                                            инфраструктура
                                        </div>
                                    </div>
                                    <a href="#" class="intro__maps-block-card-image-link intro__maps-block-card-image-link--land" data-link="land">
                                        <img src="img/intro/land-gs.png" alt="" class="intro__maps-block-card-image-link-layer" />
                                        <img src="img/intro/land-with-outline.png" alt="" class="intro__maps-block-card-image-link-layer" />
                                        <img src="img/intro/land.png" alt="" class="intro__maps-block-card-image-link-layer" />
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__maps-block-card">
                                    <div class="intro__maps-block-card-info">
                                        <div class="intro__maps-block-card-info-large-text">
                                            Аренда
                                        </div>
                                        <div class="intro__maps-block-card-info-small-text">
                                            строительство
                                        </div>
                                    </div>
                                    <a href="#" class="intro__maps-block-card-image-link intro__maps-block-card-image-link--factory" data-link="factory">
                                        <img src="img/intro/factory-gs.png" alt="" class="intro__maps-block-card-image-link-layer" />
                                        <img src="img/intro/factory-with-outline.png" alt="" class="intro__maps-block-card-image-link-layer" />
                                        <img src="img/intro/factory.png" alt="" class="intro__maps-block-card-image-link-layer" />
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__maps-block-card">
                                    <div class="intro__maps-block-card-info">
                                        <div class="intro__maps-block-card-info-large-text">
                                            Аренда
                                        </div>
                                        <div class="intro__maps-block-card-info-small-text">
                                            строительство
                                        </div>
                                    </div>
                                    <a href="#" class="intro__maps-block-card-image-link intro__maps-block-card-image-link--construction" data-link="construction">
                                        <img src="img/intro/construction-gs.png" alt="" class="intro__maps-block-card-image-link-layer" />
                                        <img src="img/intro/construction-with-outline.png" alt="" class="intro__maps-block-card-image-link-layer" />
                                        <img src="img/intro/construction.png" alt="" class="intro__maps-block-card-image-link-layer" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="intro__maps-block-slider-nav">
                        <button class="mobile-slider-nav__btn mobile-slider-nav__btn--prev">
                            <span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left" />
                                </svg>
                            </span>
                        </button>
                        <button class="mobile-slider-nav__btn mobile-slider-nav__btn--next">
                            <span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mobile-form">
                <h3 class="contact-form__heading">
                    Стать инвестором
                </h3>
                <p class="contact-form__action">
                    Заполните заявку
                </p>
                <div class="contact-form__form">
                    <form action="/" method="POST" data-parsley-validate>
                        <div>
                            <label for="name_1">Имя</label>
                            <input type="text" name="name" id="name_1" placeholder="ФИО" required />
                        </div>
                        <div>
                            <label for="tel_1">Телефон</label>
                            <input type="tel" name="tel" id="tel_1" class="js-phone-input" placeholder="+7 911 666 33 33" required data-parsley-phone />
                        </div>
                        <div>
                            <label for="type_1">Тип производства</label>
                            <select name="select" id="type_1" class="js-custom-select" data-parsley-production data-parsley-errors-container="#type_1_error">
                                <option placeholder>Тип производства</option>
                                <option value="value1">Значение 1</option>
                                <option value="value2">Значение 2</option>
                                <option value="value3">Значение 3</option>
                            </select>
                            <div id="type_1_error"></div>
                        </div>
                        <div>
                            <label for="email_1">Телефон</label>
                            <input type="email" name="email" id="email_1" placeholder="E-mail" required />
                        </div>
                        <button type="submit">
                            <span>
                                Далее
                                <svg width="36" height="20" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right" />
                                </svg>
                            </span>
                        </button>
                    </form>
                </div>
                <p class="contact-form__policy">
                    Нажимая на кнопку «Отправить» Вы даете согласие на обработку своих персональных данных в соответствии со статьей 9 Федерального закона от 27 июля 2006 г. N 152-ФЗ «О персональных данных»
                </p>
            </div>
        </div>
    </div>
    <div class="section fp-auto-height-responsive" data-anchor="payments">
        <div class="fullpage-section-inner">
            Section 2
        </div>
    </div>
    <div class="section fp-auto-height-responsive">
        <div class="fullpage-section-inner">
            Section 3
        </div>
    </div>
    <div class="section fp-auto-height-responsive">
        <div class="fullpage-section-inner">
            Section 4
        </div>
    </div>
</div>

{% endblock %}
