.iScrollIndicator {
    background-color: rgba($secondary-blue, .8) !important;
    border-radius: 0 !important;
}


.iScrollVerticalScrollbar.iScrollLoneScrollbar {
    right: $sidebar-width + .2rem !important;
}


.ps__rail-y {
    opacity: 1 !important;
    width: 15px !important;
    background: transparent !important;
    z-index: 100;
    
}


.ps__thumb-y {
    background: $secondary-blue !important;
    border-radius: 0 !important;
    width: 11px !important;
    
}