@font-face {
    font-family: 'Segoe UI';
    src: url('../misc/fonts/SegoeUI-Bold.woff2') format('woff2'), url('../misc/fonts/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../misc/fonts/SegoeUI.woff2') format('woff2'), url('../misc/fonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../misc/fonts/SegoeUI-SemiBold.woff2') format('woff2'), url('../misc/fonts/SegoeUI-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../misc/fonts/Montserrat-Bold.woff2') format('woff2'), url('../misc/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../misc/fonts/BebasNeueRegular.woff2') format('woff2'), url('../misc/fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
