*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-size: 55%;
    font-size: 8.8px;
    @include breakpoint(large-desktop) {
        font-size: 45%;
        font-size: 7.2px;
    }
    @include breakpoint(laptop) {
        font-size: 40%;
        font-size: 6.4px;
    }
    @include breakpoint(tablet) {
        font-size: 35%;
        font-size: 5.6px;
    }

    @include breakpoint(mobile) {
        font-size: 62.5%;
        font-size: 10px;
    }

    @include breakpoint(small-mobile) {
        font-size: 40%;
        font-size: 6.4px;
    }

    @include breakpoint(supersmall-mobile) {
        font-size: 35%;
        font-size: 5.6px;
    }
}

body {
    // min-width: 320px;
    font-family: $segoe;
    color: $black-text;
    font-size: 1.6rem;
    line-height: 1.2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
    counter-reset: ordered-list;
    li {
        counter-increment: ordered-list;
        &::before {
            content: counter(ordered-list);
        }
    }
}

input,
textarea {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    width: 100%;
    background: transparent;
}

textarea {
    resize: none;
    box-shadow: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    font: inherit;
    outline: none;
}

a {
    text-decoration: none;
    &:link,
    &:visited {
        color: inherit;
    }
}

img {
    max-width: 100%;
    vertical-align: top;
}

.visually-hidden {
    @include visuallyHidden();
}

.swiper-slide {
    box-sizing: border-box;
    height: auto;
}

::selection {
    color: white;
    background-color: $secondary-blue;
}
