.mobile-slider-nav__btn {
    display: block;
    color: white;
    transition: color .2s, background-color .2s;
    background-color: $secondary-blue;
    width: 50%;
    @include hover-active {
        background-color: #5e87b0;
    }
    &.swiper-button-disabled {
        cursor: default;
        pointer-events: none;
        background-color: #5e87b0;
    }
    & > span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: inherit;
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        > svg {
            fill: currentColor;
            width: 40%;
            height: 40%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}



.decorative {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 10rem);
    background-color: red;
}