// Colors

$primary-red: #f40352;
$secondary-blue: #215992;
$blue-bg: #f1f4f9;
$blue-light: #9bb1c9;
$black-text: #2d2d2d;
$border-color: #bacbdb;

// Dimensions

$header-height: 10rem;
$mobile-header-height: 11rem;
$side-padding: 10rem;
$laptop-side-padding: 4rem;
$form-width: 63rem;
$laptop-form-width: 55rem;
$sidebar-width: 13.5rem;
$mobile-content-padding: 2.5rem;

// Fonts

$segoe: 'Segoe UI', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$bebas: 'Bebas Neue', sans-serif;
